body{
    margin: 0;
    padding: 0;
}

header{
    height: 100vh;
    background-image: url(https://i0.wp.com/gentleman.com.mx/wp-content/uploads/2019/02/barberias-ciudad-de-mexico.jpg?w=980&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header #base{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
}

header #base h1.nom{
    color: white;
    opacity: .85;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-size: 1000%;
    color: #c1924c;
    margin-bottom: 5px;
}

header #base p{
    color: #c1924c;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 10px 0;
}

header #base .nav{
    display: flex;
    align-items: center;
}

header #base .nav h1{
    width: 40%;
    margin: 20px;
    color: #c1924c;
    font-family: "Bebas Neue", sans-serif;
}

header #base .nav ul{
    width: 60%;
    display: flex;
    gap: 30px;
}

header #base .nav ul li{
    list-style: none;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

header #base .nav ul li#pos a{
    background-color: #c1924c;
    color: black;
    opacity: 100%;
}

header #base .nav ul li a{
    transition: all 3ms;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3ms;
    opacity: 100%;
}

header #base .nav ul li a:hover{
    background-color: #c1924c;
    transition: .3s;
    color: black;
    opacity: 100%;
}

/*-----PAGE #1-----*/

.cont1{
    background: linear-gradient(#121212, #0d0d0d);
    height: 100vh;
    margin: 0;
    display: flex;
}

.divider {
    width: 200px;
    height: 3px;
    background: #c1924c;
    margin: 0px auto;
}

.cont1 .text{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont1 .text h3{
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #c1924c;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0;
}

.cont1 .text p{
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    color: white;
    opacity: 0.8;
    padding: 80px 60px;
}

.cont1 .text .logos{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (opcional) */
    gap: 20px;
}

.cont1 .text .logos img{
    height: 180px;
}

.cont1 .img{
    width: 30%;
    height: 100%;
    opacity: 0.8;
}

.cont1 .img img{
    width: 100%;
    height: 100%;
}

/*-----PAGE #1-----*/

.cont2{
    background: linear-gradient(#121212, #0d0d0d);
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.cont2 h2{
    color: #c1924c;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    margin: 00px;
}

.cont2 .bloques{
    margin-top: 50px;
}

.cont2 .fila{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 20px;
}

.cont2 .fila .block{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c1924c;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cont2 .fila .block:hover{
    transform: scale(1.08);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4);
}

.cont2 .fila .block img{
    height: 137px !important;
    width: 120px;
}

.cont2 .fila .block h3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

/*----- FOOTER -----*/

footer{
    background-color: #111;
    color: #a1a1a1;
    align-items: center;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
    color: #a1a1a1;
    padding: 10px;
    align-items: center;
    margin: 5px;
}

footer p#copy{
    font-style: italic;
    margin: 10px; 
}

footer p#redes {
    line-height: 1.6;
    margin: 10px;
}

*{
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}


/*----- RESPONSIVE -----*/

@media screen and (max-width: 500px){
    header #base .nav{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    header #base .nav h1{
        text-align: center;
    }

    header #base .nav ul{
        margin: 0;
        padding: 0;
        gap: 5px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    header #base h1.nom{
        font-size: 650%;
    }

    .cont1 .text{
        width: 100%;
    }

    .cont1 .text h3{
        width: 100%;
        margin: 10px 0;
        padding: 0px;
    }

    .cont1 .img{
        display: none;
        width: 0%;
    }

    .cont1 .text p{
        padding: 5px;
        font-size: 15px;
        padding: 10px 0;
        margin: 10px 0;
        width: 100%;
    }

    .cont1 .text .logos{
        margin: 20px 0  ;
    }

    .cont1 .text .logos img{
        height: 120px;
    }

    .cont2{
        padding: 0;
        height: auto;
    }

    .cont2 .bloques{margin: 0;height: auto;}

    .bloques .fila{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
        padding: 0;
        height:auto;
        width: 100%;
    }

    .bloques .fila .block{
        height: 150px;
        width: 150px;
    }
    .bloques .fila .block img{
        height: 50px;
        width: 50%;
    }

    .bloques .fila .block h3{
        font-size: 15px;
        margin: 0;
    }
}